* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 20px;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.form {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 350px;
  padding: 15px;
  gap: 15px;
}

.form input {
  line-height: 30px;
  width: 100%;
}

.error {
  display: none;
  color: red;
  margin-bottom: 10px;
}

.hint {
  color: green;
  display: none;
  margin-bottom: 10px;
}

.btn {
  line-height: 30px;
  font-size: 20px;
}

.valid {
  border: 2px solid green;
}

.invalid {
  border: 2px solid red;
}

/* GALERRY */

.imageForm {
  margin: 20px 0;
}
.imageUrl {
  margin: 10px;
  padding: 10px;
  width: 200px;
}
.imageDescription {
  margin: 10px;
  padding: 10px;
  width: 200px;
}
.btnAdd {
  padding: 10px 20px;
  cursor: pointer;
  background-color: blue;
  color: white;
}
.galerry {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.galerry img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
}
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}
.lightboxImage {
  max-width: 80%;
  height: 80%;
  margin-bottom: 20px;
}
.lightboxDescription {
  color: white;
  margin-bottom: 20px;
}
.prevImage,
.nextImage {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

/* CALENDAR */
.container-calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.calendar {
  width: 500px;
  height: 500px;
  border-radius: 24px;
  box-shadow: 0 2.3128px 39.317px rgba(0, 0, 0, 0.25);
  padding: 75px 100px;
}
.calendar-header {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.calendar-day {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

/* TASK LIST */

.container-task {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.formTask {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin-top: 20px;
}

.inputTask {
  height: 30px;
  width: 100%;
  font-size: 20px;
  padding: 5px;
  margin-bottom: 15px;
}

.btnAddTask {
  padding: 12px;
  border: none;
  width: 250px;
  background-color: gray;
  color: white;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btnAddTask:hover {
  background-color: darkgray;
  transform: translateY(-3px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.task {
  width: 500px;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.item:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.item input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.item input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  color: gray;
}
.btnDeleteTask {
  padding: 6px 12px;
  background-color: #ff5c5c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
  margin-left: 10px;
}

.btnDeleteTask:hover {
  background-color: #ff3b3b;
}

.done {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  text-decoration-color: green;
}

.filter-box {
  display: flex;
  margin-top: 20px;
  gap: 10px;
  align-items: center;
}

.task-filter {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  cursor: pointer;
}

.task-filter option {
  padding: 5px;
  background-color: #f9f9f9;
  font-size: 16px;
}

/* Contacts Book */
.container-book {
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.box-name,
.box-number {
  display: flex;
  flex-direction: column;
}
.form-book {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.contact-name {
  line-height: 25px;
  padding: 3px;
  margin-top: 5px;
  border-radius: 5px;
}
.contact-tel {
  line-height: 25px;
  padding: 3px;
  margin-top: 5px;
  border-radius: 5px;
}
.btnAddContact {
  background-color: green;
  border: 2px solid white;
  color: white;
  width: 200px;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  border-radius: 8px;
}
.search-contact {
  width: 100%;
}
.contact-list-box {
  width: 100%;
}
.contact-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
  list-style-type: none;
  padding: 0;
}
.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}
.input-search {
  line-height: 25px;
  padding: 3px;
  margin-top: 5px;
  border-radius: 5px;
  width: 100%;
}

.btnEditContact,
.btnDeleteContact {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.btnEditContact {
  background-color: #4caf50;
  color: white;
}

.btnDeleteContact {
  background-color: #f44336;
  color: white;
}
.btnAddContact:hover,
.btnEditContact:hover,
.btnDeleteContact:hover {
  opacity: 0.8;
  transform: scale(1.05);
}
.btnAddContact:active,
.btnEditContact:active,
.btnDeleteContact:active {
  opacity: 0.9;
  transform: scale(1);
}
.name,
.number {
  margin: 0;
  font-size: 16px;
}

.contact .actions {
  display: flex;
  gap: 10px;
}
.contact > .info {
  flex-grow: 1;
}

/* COMMENTS */
.container-comments {
  margin: 0 auto;
  background-color: antiquewhite;
  padding: 20px;
}

.comment-form-box {
  background-color: #ffe2e2;
  max-width: 1200px;
  margin: 0 auto 20px;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.title-comment {
  color: #c70000;
  margin-bottom: 15px;
}

.commentName,
.textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
}
.textarea {
  resize: none;
  min-height: 150px;
}
.btnAddComment {
  background-color: #c70000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btnAddComment:hover {
  background-color: #a50000;
}
.commnet-box {
  max-width: 1200px;
  margin: 0 auto 20px;
  padding: 30px;
}
.comment-list {
  max-width: 100%;
}
.comment-item {
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}
.comment {
  display: flex;
  justify-content: space-between;
  color: gray;
  margin-bottom: 15px;
}
.comment strong {
  color: black;
}
.toggle-replies {
  background: none;
  border: none;
  color: #c70000;
  cursor: pointer;
  margin-top: 10px;
}
.replies {
  margin-top: 10px;
  padding-left: 20px;
}

.reply {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.boxBtnComment {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 15px;
}
.btnDeleteComment {
  background-color: #c70000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btnDeleteComment:hover {
  background-color: #a50000;
}

.btnAnswerComment {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.reply-form {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.reply-form input,
.reply-form textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.reply-form button {
  background-color: #007bff;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.reply-form button:hover {
  background-color: #0056b3;
}
.replies {
  display: none;
}
.replies.visible {
  display: block;
}
